@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  background: rgb(28, 46, 70);
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

.AnimeRE {
  font-size: 1.57rem;
}

.menu{
  display: flex;
  flex-direction: row;
}

.item-menu{
  display: flex;
}

.menu a {
  text-decoration: none;
  text-overflow: none;
  color: white;
  transition: 0.3s ease;
  padding: 7px;
}

.menu a:hover {
  align-items: center;
  background: rgb(112, 112, 250);
  border-radius: 10px;
}

a {
  text-decoration: none;
  text-overflow: none;
  color: white;
}

i {
  margin-right: 5px;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}

#searchbtn {
  position: absolute;
  top: -2.5px;
  left: 315px;
  color: black;
  padding: 0;
  cursor: pointer;
  padding: 10px;
}

#searchbtn:hover {
  background: none;
}

input {
  box-sizing: border-box;
  width: 350px;
  margin-right: 3px;
  border-radius: 4.5px;
  height: 30px;
}

input::placeholder {
  font-weight: bold;
}

input:focus {
  outline: none;
}

header {
  background-color: #2671c8;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  gap: 10px;
}

button {
  background-color: transparent;
  border: none;
  font-weight: bold;
}

.barrinha::before {
  content: "|";
  margin-left: 20px;
  margin-right: 20px;
}

.animes {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  justify-self: center;
  height: 600px;
}

.carroussel-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  height: 450px;
  align-self: center;
}

.carroussel {
  grid-area: 1 / 1 / 3 / 4;
  overflow: hidden;
  width: 100%;
  height: 450px;
  position: relative;
}

.carroussel-main {
  display: flex;
  transition: transform 0.5s;
}

.carroussel-content {
  min-width: 100%;
  overflow: hidden;
  border-radius: 10px;
  height: 100%;
}

.carousel-dots {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 10px;
  background: rgba(0, 0, 0, 0.748);
  border-radius: 10px;
  padding: 6px;
  z-index: 5;
}

.dot {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background: #1f7ae2;
}

.seguir {
  grid-area: 1 / 4 / 1 / 6;
  margin-left: 15px;
  font-size: 1.25rem;
  margin-bottom: 120px;
}

.seguir h3 {
  color: white;
}

.animes-list {
  grid-area: 1 / 4 / 4 / 6;
  margin-left: 15px;
  margin-top: 43px;
  background-color: rgba(0, 0, 0, 0.466);
  border-radius: 10px;
  padding: 10px;
}

.animes-img {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
}

.animes-img p {
  font-size: 18px;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  color: white;
}

.animes-img span {
  font-size: 16px;
  flex-wrap: wrap;
  font-weight: normal;
  color: rgb(165, 165, 165);
  padding: 0;
  margin: 0;
}

.animes-img img {
  max-width: 80px;
  height: 120px;
  border-radius: 10px;
  object-fit: cover;
}

.animes-review {
  justify-self: center;
}

.animes-review img {
  width: 270px;
  height: 390px;
  border-radius: 10px;
}

.animes-review h1 {
  font-size: 2.2rem;
  color: white;
  margin-bottom: 10px;
}

.anime,
.mangas,
.novel {
  display: flex;
  gap: 20px;
  margin-bottom: 70px;
}

.item {
  position: relative;
  transition: 0.5s ease;
}

.item:hover {
  transform: translateY(-8px);
}

.item img {
  display: block;
  width: 270px;
  height: 390px;
  border-radius: 10px;
}

.item i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  color: white;
  z-index: 2;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.669);
  padding: 10px;
  border-radius: 5px;
}

.favoritado {
  color: gold;
}

/*FAVORITOS*/
.all {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

.favoritos-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.favis {
  color: white;
  display: flex;
  justify-content: center;
}

.favoritos-grid img {
  max-width: 260px;
  height: 360px;
}

/*REVIEWS*/

.review-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.review-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  max-width: 800px;
  width: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.671);
  border-radius: 10px;
}

.review-container img {
  max-width: 350px;
  height: 400px;
  border-radius: 10px;
  object-fit: cover;
}

.score {
  background: black;
  max-width: 60px;
  padding: 5px;
  border-radius: 10px;
  color: gold;
  text-align: center;
}

.review-text {
  gap: 10px;
  margin-top: -15px;
  line-height: 1.5;
  max-width: 500px;
}

.assistir {
  display: flex;
  max-width: 1200px;
  width: 100%;
}

.assistir a {
  background-color: black;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

/*LOGIN*/
.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-menu {
  background-color: #111;
  padding: 30px;
  width: 320px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.login-menu h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 25px;
}

.email,
.senha {
  margin-bottom: 20px;
}

.email h2,
.senha h2 {
  font-size: 14px;
  color: #bbb;
  margin-bottom: 6px;
}

.login-menu input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #1e1e1e;
  color: #fff;
  font-size: 14px;
  transition: 0.3s;
}

.login-menu input:focus {
  background-color: #252525;
  box-shadow: 0 0 0 2px #2671c8;
}

.logar a,
.criar a {
  display: flex;
  max-width: 100px;
  width: 100%;
  transition: 0.3s ease;
  padding-bottom: 8px;
}

.logar a,
.criar a {
  transition: 0.2s ease;
}

.logar a:hover,
.criar a:hover {
  color: #2671c8;
}

.logar a:hover,
.criar a:hover {
  transform: translateY(-5px);
}

.criar-create a {
  display: flex;
  max-width: 100px;
  width: 100%;
  transition: 0.3s ease;
  transition: 0.2s ease;
  padding: 5px;
}

.criar-create a:hover {
  transform: translateY(-5px);
}

.criar-create a:hover {
  color: #2671c8;
}

/*BARRA SEARCH*/
#searchInput {
  flex: 1;
  min-width: 220px;
}

#searchbtn {
  background: transparent;
  border: 0;
  cursor: pointer;
}

#animeshow {
  position: absolute;
  left: 0;
  top: calc(100% + 8px);
  width: 100%;

  display: none;
  flex-direction: column;
  gap: 10px;

  padding: 10px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.75);

  max-height: 280px;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;

  z-index: 10;
}

#animeshow .anime-content {
  width: 100%;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  gap: 10px;

  padding: 10px 12px;
  border-radius: 12px;
  background: #ffffff;

  color: #111;
  text-decoration: none;
}

#animeshow .anime-content img {
  width: 44px;
  height: 44px;
  border-radius: 8px;
  object-fit: cover;
}

#animeshow::-webkit-scrollbar {
  width: 6px;
}

#animeshow::-webkit-scrollbar-thumb {
  background: #3a82f7;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  html,
  body {
    overflow-x: hidden;
  }

  .header{background-color: #2671c8;}

  .menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
  }

  .menu a {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .search {
    position: relative;
    gap: 8px;
    width: 100%;
    height: 35px;
    justify-content: center;
    align-items: center;
  }

  .item-menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
  }

  .item-menu a {
    max-width: 1200px;
  }

  #searchbtn {
    display: none;
  }

  .barrinha {
    display: none;
  }

  .carousel-dots {
    display: none;
  }

  #animeshow {
    position: absolute;
    left: 55px;
    top: calc(100% + 8px);
    width: 100%;
    width: 250px;

    display: none;
    flex-direction: column;
    gap: 10px;

    padding: 10px;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.75);

    max-height: 280px;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;

    z-index: 11;
  }

  #animeshow .anime-content {
    width: 100%;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    gap: 10px;

    padding: 10px 12px;
    border-radius: 12px;
    background: #ffffff;

    color: #111;
    text-decoration: none;
  }

  .animes-review {
    margin-top: 60px;
  }

  .animes-review h1 {
    text-align: center;
  }

  .animes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 350px;
    margin-top: 25px;
    margin-bottom: -20px;
    scroll-behavior: smooth;
    gap: 16px;
    padding: 12px 16px;
    -webkit-overflow-scrolling: touch;
  }

  .animes::-webkit-scrollbar {
    display: none;
  }

  .anime,
  .mangas,
  .novel {
    display: flex;
    gap: 14px;
    scroll-behavior: smooth;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 5px 0px 0px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    
  }

  .anime::-webkit-scrollbar,
  .mangas::-webkit-scrollbar,
  .novel::-webkit-scrollbar {
    display: none;
  }

  .anime .item,
  .mangas .item,
  .novel .item {
    flex: 0 0 72%;
    scroll-snap-align: start;
  }

  .anime .item img,
  .mangas .item img,
  .novel .item img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  .seguir {
    display: none;
  }

  .carroussel {
    overflow: hidden;
    width: 100%;
    max-width: 400px;
    height: 350px;
  }

  .carroussel-main {
    display: flex;
    width: 100%;
  }

  .carroussel-content {
    min-width: 100%;
  }

  .carroussel-content img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
  }

  .animes-list {
    display: none;
  }

  .review-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 280px;
    margin-bottom: 10px;
  }

  .review-container img{
    object-fit: cover;
    max-height: 300px;
    max-width: 300px;
    width: 100%;
  }

  .review-container p{
    margin-top: 0px;
  }

  .review-container h2{
    margin-top: -10px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  html,
  body {
    overflow-x: hidden;
  }

  .header{background-color: #2671c8;}

  .menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
  }

  .menu a {
    display: flex;
    width: 100%;
    max-height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
  }

  .search {
    position: relative;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
  }

  #searchInput{
    height: 45px;
    font-size: 1.4rem;
    padding: 10px;
  }

  .item-menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
  }

  .item-menu a {
    max-width: 1200px;
  }

  #searchbtn {
    display: none;
  }

  .barrinha {
    display: none;
  }

  .carousel-dots {
    display: none;
  }

  #animeshow {
    position: absolute;
    left: 69px;
    top: calc(100% + 8px);
    width: 100%;
    width: 600px;

    display: none;
    flex-direction: column;
    gap: 10px;

    padding: 10px;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.75);

    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;

    z-index: 10;
  }

  #animeshow .anime-content {
    width: 100%;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    gap: 10px;

    padding: 10px 12px;
    border-radius: 12px;
    background: #ffffff;

    color: #111;
    text-decoration: none;
    object-fit: cover;
  }

  .animes-review {
    margin-top: 60px;
  }

  .animes-review h1 {
    text-align: center;
  }

  .animes {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 500px;
    max-width: 600px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: -20px;
  }

  .animes::-webkit-scrollbar {
    display: none;
  }

  .anime,
  .mangas,
  .novel {
    display: flex;
    gap: 14px;
    scroll-behavior: smooth;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 5px 0px 0px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-x;
  }

  .anime::-webkit-scrollbar,
  .mangas::-webkit-scrollbar,
  .novel::-webkit-scrollbar {
    display: none;
  }

  .anime .item,
  .mangas .item,
  .novel .item {
    flex: 0 0 72%;
    scroll-snap-align: start;
  }

  .anime .item img,
  .mangas .item img,
  .novel .item img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  .seguir {
    display: none;
  }

  .carroussel {
    overflow: hidden;
    width: 100%;
    max-width: 600px;
  }

  .carroussel-main {
    display: flex;
    width: 100%;
  }

  .carroussel-content {
    min-width: 100%;
  }

  .animes-list {
    display: none;
  }

    .review-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
  }

  .review-container img{
    object-fit: cover;
    max-width: 500px;
    width: 100%;
  }

  .review-container p{
    margin-top: 0px;
  }

  .review-container h2{
    margin-top: -10px;
  }
}
